<div class="container">
  <div class="row">

    <% if user_signed_in? %>
      <%= render :partial => 'form', :locals => { :commentable_object => @post } %>
    <% end %>

    <% @comments.each do |comment| %>
      <%= render partial: 'comment', locals: { :comment => comment } %>
    <% end %>

  </div>
</div>
