<div class="container">
  <div class="row">
    <% if user_signed_in? %>
      <%= link_to "New Post", new_post_path  %>
    <% end %>
  </div>
  <div class="row">
    <%= render partial: 'post', collection: @posts %>
  </div>
</div>
